[[extend 'layout.html']]

<section class="hero is-black welcome is-large">
   <div class="hero-body" style = "position:relative; overflow:hidden;">
      <img src="https://i.pinimg.com/originals/f0/5c/bc/f05cbc8c0f8b075d2b4f1f68fee49649.jpg" width="890" height="890" style="position:absolute;top:-25px;left:-200px;">
      <p class = "title">
         <h1 class="w1-large" style="position:absolute;top:30px;right:100px;color:#FFFFFF;font-size:80px;"><b> Instant<br> Wrapped </b></h1>
      </p>
      <p class = "subtitle" style="position:absolute;top:280px;right:220px;color:#FFFFFF;font-size:13px">
         Fun, quirky description about web app <br> <br> Fun, quirky description about web app <br> <br>
         Fun, quirky description about web app <br><br>  Fun, quirky description about web app
      </p>
      <button class="button is-rounded is-white is-medium" style="position:absolute;top:450px;right:250px;font-family:'Times New Roman'"><b>Get Started</b></button>
      <button class="button is-rounded is-black is-small" style="position:absolute;top:500px;right:250px;font-family:'Times New Roman'"><u> Already registerd? Log in</u></button>
       </div>

   <div class="columns is-mobile">
      <div class="column is-half">

      </div>
   </div>
   </section>