[[extend 'layout.html']]

<section class="hero is-black welcome is-large">
   <div class="hero-body" style = "position:relative; overflow:hidden;">
      <img src="images/Spotify_Icon_RGB_White.png" width="890" height="890" style="position:absolute;top:-25px;left:-200px;">
      <p class = "title">
         <h1 class="w1-large" style="position:absolute;top:30px;right:100px;color:#FFFFFF;font-size:80px;"><b> Instant<br> Wrapped </b></h1>
      </p>
      <p class = "subtitle" style="position:absolute;top:280px;right:220px;color:#FFFFFF;font-size:13px">
         Fun, quirky description about web app <br> <br> Fun, quirky description about web app <br> <br>
         Fun, quirky description about web app <br><br>  Fun, quirky description about web app
      </p>
      <a class="button is-rounded is-white is-medium" href="[[=URL('dashboard')]]" style="position:absolute;top:450px;right:250px"><b>Get Started</b></a>
      <a class="button is-rounded is-black is-small" href="[[=URL('dashboard')]]" style="position:absolute;top:500px;right:250px"><u>  Already registered? Log in</u></a>
       </div>
</section>

<div class="columns is-mobile">
   <div class="column is-half">
      <img src="images/save_black_48dp.svg" width="200" height="200" style = "margin:50px auto 50px; display:block">
      <figcaption style="text-align: center;margin:0px 50px 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
         in culpa qui officia deserunt mollit anim id est laborum.</figcaption>

      <img src="images/import_export_black_48dp.svg" width="200" height="200" style = "margin:50px auto 50px; display:block">
      <figcaption style="text-align: center;margin:0px 50px 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
         in culpa qui officia deserunt mollit anim id est laborum.</figcaption>
   </div>
      <div class="column is-half">
      <img src="images/Spotify_Icon_RGB_Black.png" width="200" height="200" style = "margin:50px auto 50px; display:block">
      <figcaption style="text-align: center;margin:0px 50px 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
         in culpa qui officia deserunt mollit anim id est laborum.</figcaption>

      <img src="images/format_list_numbered_black_48dp.svg" width="200" height="200" style = "margin:50px auto 50px; display:block">
      <figcaption style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
         in culpa qui officia deserunt mollit anim id est laborum. </figcaption>
   </div>
</div>