[[extend 'layout.html']]

<section class="hero is-black welcome is-large">
   <div class="hero-body" style = "position:relative; overflow:hidden;">
      <img src="images/Spotify_Icon_RGB_White.png" width="890" height="890" style="position:absolute;top:-25px;left:-200px;">
      <p class = "title">
         <h1 class="w1-large" style="position:absolute;top:30px;right:100px;color:#FFFFFF;font-size:80px;"><b> Instant<br> Wrapped </b></h1>
      </p>
      <a class="button is-rounded is-white is-medium" href="[[=URL('dashboard')]]" style="position:absolute;top:325px;right:275px"><b>Get Started</b></a>
   </div>
</section>

<div class="columns is-mobile">
   <div class="column is-half">
      <img src="images/save_black_48dp.svg" width="200" height="200" style = "margin:50px auto 50px; display:block">
      <figcaption style="text-align: center;margin:0px 50px 0px">
         Create & save a new playlist from your listening statistics! <br>
         Generated playlists are all available on your individual profile
      </figcaption>

      <img src="images/question_answer_black_24dp.svg" width="200" height="200" style = "margin:50px auto 50px; display:block">
      <figcaption style="text-align: center;margin:0px 50px 0px">
         Comment & discuss your favorite Playlists! <br>
         Reply to other users with your thoughts about a particular playlist<br>
         
      </figcaption>
   </div>
      <div class="column is-half">
      <img src="images/Spotify_Icon_RGB_Black.png" width="200" height="200" style = "margin:50px auto 50px; display:block">
      <figcaption style="text-align: center;margin:0px 50px 0px">
          Profiles are directly linked to Spotify! <br>
          Playlists you generated & save are directly pushed to the Spotify Client! <br>
      </figcaption>

      <img src="images/format_list_numbered_black_48dp.svg" width="200" height="200" style = "margin:50px auto 50px; display:block">
      <figcaption style="text-align: center">
         Post & upvote public playlists on our Leaderboard! <br>
         Playlists move up and down the ranks depending on their score <br>         
       </figcaption>
   </div>
</div>