[[extend 'layout.html']]

<div class = "section">
    <div class = "container">
        <div class = "content">
             <h1 class="title">Privacy Policy Page</h1>
            <h3>What information do we collect and how do we collect it? </h3>
            <p>We collect all of the relevant music data provided by the Spotify platform using the Spotipy Python library. This data includes most listened to songs,
            artists, and genres, as well as profile/playlist pictures.</p>
            <h3>How do we use your information?</h3>
            <p>We use the data regarding your most listened to songs to generate playlists that you can save to your Spotify library. We use that data as well as your
            favorite artists and genres to display them on your profile page and match you to other users.</p>
            <h3>How and where do we process your information?</h3>
            <p>We process your information by breaking down the massive chunk of your Spotify data that is returned by the Spotipy library. We organize the data into the appropriate
            categories to display them in the correct places. For instance, the dashboard generates your most listened to songs and artists, and allows you to even save your most listened
            to songs as playlists. Those playlists are then displayed on our leaderboard page, where other users can view and even save those playlists.
            We also store that data, as well as your most listened to genres, to display on your public profile page. </p>
        </div>
    </div>
</div>