[[extend 'layout.html']]

<style xmlns:v-bind="http://www.w3.org/1999/xhtml">
    [v-cloak] {
        display: none;
    }

    .has-image-centered {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="section mx-6" id="vue-target" v-cloak>
    <div v-if="!profile_loading">
        <nav class="level">
            <div class="level-left">
                <div class="level-item mr-5">
                    <figure class="image is-128x128 has-image-centered">
                        <!--Insert User's Profile Picture-->
                        <img v-bind:src="user_picture" class="is-rounded">
                    </figure>
                </div>
                <div class="level-item">
                    <!--Profile Name-->
                    <div>
                        <h1 class="title mt-2">{{user_name}}</h1>
                        <div v-if="biography">
                            <p class="subtitle mt-5">{{biography}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div>
                        <a class="heading" :href="'/instant_wrapped/' + 'view_followers/' + user_id">Followers</a>
                        <p class="title has-text-centered pb-5">{{num_followers}}</p>
                    </div>
                </div>
                <div class="level-item">
                    <div>
                        <a class="heading" :href="'/instant_wrapped/' + 'view_followers/' + user_id">Following</a>
                        <p class="title has-text-centered pb-5">{{num_following}}</p>
                    </div>
                </div>
                <div class="level-item ml-6 pb-4" v-if="current_user === user_id">
                    <a class="button is-rounded is-dark is-outlined" href="[[=URL('auth/profile')]]">
                        <!--<span class="icon">
                            <i class="fa fa-edit"></i>
                        </span>-->
                        <span>Edit Profile</span>
                    </a>
                </div>
                <div class="level-item ml-6 pb-4" v-else>
                    <div v-if="following">
                        <button type="submit" @click="set_following(false)"
                                class="button is-rounded is-dark is-outlined">
                            <span class="icon">
                                <i class="fa fa-minus"></i>
                            </span>
                            <span>Unfollow</span>
                        </button>
                    </div>
                    <div v-else>
                        <button type="submit" @click="set_following(true)"
                                class="button is-rounded is-dark is-outlined">
                            <span class="icon">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span>Follow</span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="columns is-mobile">
            <div class="column is-three-fifths">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical mr-6">
                        <div class="tile is-child">
                            <p class="title">Playlists</p>
                            <div v-if="top_playlists.length">
                                <div v-for="i in top_playlists">
                                    <p class="subtitle"><a :href="'/instant_wrapped/' + 'view_playlist/' + i.id"
                                                        class="button is-rounded is-ghost">{{i.playlist_name}}</a></p>
                                    
                                </div>
                            </div>
                            <div v-else>
                                <p class="subtitle">When you save a playlist, they will show up here!</p>
                            </div>
                        </div>
                        <div class="tile is-child">
                            <p class="title">Comments</p>
                            <!--<h1 class="subtitle is-max-desktop">Comments</h1>-->
                            <div v-if="add_mode" class="container block">
                                <div class="form">
                                <div class="field">
                                    <div class="control">
                                    <textarea type="text" v-model="add_comment_txt" class="textarea" placeholder="Enter new post here"></textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                    <input type="submit" @click="add_comment" value="Comment" class="button is-success">
                                    <input type="submit" @click="set_add_status(-1,false)" value="Cancel" class="button is-warning">
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div v-else class="container block">
                                <button @click="set_add_status(-1,true)" class="button is-success">
                                <i class="fa fa-plus fa-fw"></i>
                                </button>
                            </div>

                            <div class="container block is-max-desktop">
                                <article class="message is-success" v-for="c in comments.slice().reverse()">
                                    <div class="message-header">
                                        <a :href="'/instant_wrapped/' + 'view_user_profile/' + c.comment_author"> {{c.author_name}} </a>
                                        <div v-if="current_user == c.comment_author">
                                            <button @click="delete_comment(c._idx)" class="button is-danger is-inverted">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="message-body">
                                        <div class="w3-jumbo" style="margin-top:5px;color:#000000;">
                                            {{c.comment_txt}}
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child">
                        <p class="title">Top 5 Songs</p>
                        <div v-if="top_songs.length">
                            <div v-for="i in top_songs">
                                <p class="subtitle">{{i.song_name}}</p>
                            </div>
                        </div>
                        <div v-else-if="stats_loading" class="section">
                            <progress class="progress is-medium is-success" max="100"></progress>
                        </div>
                    </div>
                    <div class="tile is-child">
                        <p class="title">Top 5 Artists</p>
                        <div v-if="top_artists.length">
                            <div v-for="i in top_artists">
                                <p class="subtitle">{{i.artist_name}}</p>
                            </div>
                        </div>
                        <div v-else-if="stats_loading" class="section">
                            <progress class="progress is-medium is-success" max="100"></progress>
                        </div>
                    </div>
                    <div class="tile is-child">
                        <p class="title">Top 5 Genres</p>
                        <div v-if="top_genres.length">
                            <div v-for="i in top_genres">
                                <p class="subtitle">{{i.genre_name}}</p>
                            </div>
                        </div>
                        <div v-else-if="stats_loading" class="section">
                            <progress class="progress is-medium is-success" max="100"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="section">
        <progress class="progress is-medium is-success" max="100"></progress>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let load_profile_url = "[[=XML(load_profile_url)]]";
    let load_stats_url = "[[=XML(load_stats_url)]]";
    let load_comments_url = "[[=XML(load_comments_url)]]";
    let add_comment_url = "[[=XML(add_comment_url)]]";
    let delete_comment_url = "[[=XML(delete_comment_url)]]";
</script>
<script src="js/view_user_profile.js"></script>
[[end]]